<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

<header th:replace="layout/layout :: header"></header>





<div th:if="${session.cliente != null}">
    <!-- contenido de la página para usuarios no autenticados -->
    <p>EXISTE UN SESION </p>

    <p>Nombre del cliente: <span th:text="${session.cliente.nombre}">Nombre por defecto</span></p>

    <p>Hello <span th:text="${session.cliente.nombre}">Friend</span>!</p>
    <p>Hello <span th:text="${session.cliente.rol}">Friend</span>!</p>
    <p>Hello <span th:text="${session.cliente.email}">Friend</span>!</p>
    <div th:if="${session.cliente != null}">
        <p>Bienvenido, cliente!
        <a th:href="@{/perfil}">Ir a mi perfil</a>
        <form th:action="@{/logout}" method="GET">
            <button type="submit">Cerrar sesión</button>
        </form>
    </div>
</div>



<div th:if="${session.cliente == null}">
    <!-- contenido de la página para usuarios no autenticados -->
    <p>NO EXISTE UN SESION </p>

</div>



<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>