<div class="container mt-3">
    <h2>Nav</h2>
    <p>Basic horizontal menu:</p>
    <ul class="nav">
        <img src="https://github.com/JulioCesar1988/heroku-demo/blob/main/src/main/resources/templates/imagenes/Logo2.jpeg?raw=true" alt="" width="30" height="24">




        <li class="nav-item">
            <a class="nav-link" href="#">Turnos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Adopciones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Donaciones</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">Publicaciones</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">Paseadores y cuidadores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Veterinarias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>
</div>