<div class="container mt-3">
    <h2>Nav</h2>
    <p>Basic horizontal menu:</p>
    <ul class="nav">
        <img src="https://github.com/JulioCesar1988/heroku-demo/blob/main/src/main/resources/templates/imagenes/Logo2.jpeg?raw=true" alt="" width="30" height="24">

        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>
</div>