
<!-- Barra de navegación -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="https://github.com/JulioCesar1988/heroku-demo/blob/main/src/main/resources/templates/imagenes/Logo2.jpeg?raw=true" alt="Logo de la clínica" width="30" height="24">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mascotas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-3">
    <!-- Título del contenido principal -->
    <h2>Bienvenido a nuestra clínica veterinaria</h2>
    <!-- Descripción del contenido principal -->
    <p>Ofrecemos servicios de atención médica integral para tus mascotas. Nuestro equipo de profesionales altamente capacitados está comprometido con la salud y bienestar de tus animales.</p>
</div>
