<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/layout :: head"></head>

    <body>
      <header th:replace="layout/layout :: header"></header>

      <div class="container py-4">
          <div class="text-center">
              <img th:src="@{/images/adoptanocompres.png}" width="80%" height="270" class="d-inline-block align-top" alt="">
          </div>
          <br>
          <hr style="border: 1px solid #caa7a7;">
          <br>
<!--          <h1 class="card-header" th:text="${titulo}"></h1>-->

          <div class="ui-gap">
              <div class="ui-block-item">

                  <div class="ui-item" th:each="a: ${adopciones}" th:attrappend="title=${!a.adoptado}?'Contactar'">
                      <div th:if="${a.adoptado == false}" class="ui-image" th:style="'background-image: url(images/adoptame.jpg);'"></div>
                      <div th:if="${a.adoptado == true}" class="ui-image" th:style="'background-image: url(images/adoptado.jpg);'"></div>

                      <!--<img th:if="${a.adoptado == false}" th:src="@{/images/adoptame.jpg}" width="100%" height="50%" class="d-inline-block align-top" alt="">
                      <img th:if="${a.adoptado == true}" th:src="@{/images/adoptado.jpg}" width="100%" height="50%" class="d-inline-block align-top" alt="">-->

                      <div class="ui-block-text">
                          <h3 th:text="${a.nombre}"></h3>
                          <div class="ui-more-info">

                              <div class="info-perro-container">
                                  <span th:text="${#strings.capitalize(#strings.toLowerCase(a.raza))}"></span>,
                                  <span th:text="${#strings.capitalize(#strings.toLowerCase(a.genero))}"></span>,
                                  <span th:text="${#strings.capitalize(#strings.toLowerCase(a.color))}"></span>,
                                  <span th:text="${#strings.capitalize(#strings.toLowerCase(a.tamanio))}"></span>,
                                  <span th:text="${#strings.capitalize(#strings.toLowerCase(a.edad))}"></span>
                              </div>

                              <div class="ui-small-section">
                                  <div class="ui-small-section">
                                      <img class="ui-author" src="images/anonimo.png" alt="">
                                      <span th:text="${#strings.capitalize(#strings.toLowerCase(a.autor.nombre))}"></span>
                                      <span th:text="${#strings.capitalize(#strings.toLowerCase(a.autor.apellido))}"></span>
                                  </div>
                              </div>

                              <div style="font-size:13px; opacity: 0.6;">
                                  Publicado el <span th:text="${#dates.format(a.fechaCreacion, 'dd-MM-yyyy')}"></span>
                              </div>

                          </div>
                          <br>
                          <div class="text-center">
                            <a class="btn btn-warning btn-sm" role="button" th:href="@{/adopciones/info-adopcion/{id}(id=${a.id_adopcion})}">Ver más</a>
                            <a th:if="${a.adoptado == false}" class="btn btn-warning btn-sm" role="button" th:href="@{/adopciones/adoptame/{id}(id=${a.id_adopcion})}">Adóptame</a>
                          </div>

                      </div>
                  </div>

              </div>

          </div>


      </div>


      <footer th:replace="layout/layout :: footer"></footer>

    </body>
</html>